@import '_mixin.scss';

body,
html {
  margin: 0px;
  padding: 0px;
  font-family: $roboto;
  font-weight: 400; //regular
}

.App {
  text-align: center;
  background-image: url('./images/background-contentresa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.chiffer-logo-black {
  height: 10vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

//form

.form-group {
  margin: 40px;

  .start-button {
    margin: 20px;
  }
}
